/* .col-1,.col-2,.col-7, .col-md-auto{
	  border: 1px solid;
} */

body{
    width: 100%;
    max-width: 2000px;
		font-family: AgoraSansProRegular, arial, tahoma;
	  margin: 65px auto 0px auto;
}

.header__mainMenu{
		background-color: #fef3e1;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
	  margin-top: -65px;
		width: 100%;
		max-width: 2000px;
		position: fixed;
	  z-index: 11;
}

.header__Menu--Logo{
    display: block;
	  padding-top: 2px;
	  width: 81px;
	  height: 65px;
}

.header__menu{
	  margin-top: 10px;
	  width: 560px;
}

menu.header__menu:after{
	  display: block;
    content: ' ';
    clear: both;
    float: none;
}

menu.header__menu > li{
	  float: left;
	  margin-left: 4.5%;
	  list-style: none;
}

menu.header__menu > li > a{
	  display: block;
	  text-decoration: none;
	  color: #333333;
	  height: 26px;
}

menu.header__menu > li > a:hover{
    border-bottom: 2px solid #e63c23;
}

.header__menu--DownArrow{
	  margin-left: 5px;
	  font-size: 13px;
	  font-weight: bold;
}

ul.subMenu{
	  margin-top: 9px;
    display: none;
    position: absolute;
    top: 25px;
	  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

ul.subMenu > li {
    display: block;
}

ul.subMenu > li > a {
    padding: 15px 40px 25px 40px;
    font-family: arial;
    font-size: 13px;
	  color: #333333;
    display: block;
    background-color: #fef3e1;
    width: auto;
	  height: 30px;
    text-decoration: none;
}

ul.subMenu > li > a:hover {
	  background-color: #d9e39c;
	  -webkit-transition: .2s ease-out;
}

menu.header__menu > li:hover > ul.subMenu {
	  display: block;
}

.header__phoneNumber{
	  display: block;
	  text-align: center;
	  padding-left: 6%;
	  width: 140px;
}

.header__phoneNumber li{
    margin-top: 2px;
    font-size: 14px;
}

.header__phoneNumber img{
    margin-right: 4px;
}

.top-background--main{
    height: 1000px;
	  position: relative;
	  z-index: 10;
}

.top-background--internet{
    min-height: 1000px;
    position: relative;
    z-index: 10;
	  padding-top: 300px;
}

.top-background__internet--famous{
	  color: white;
	  font-size: 16px;
	  padding: 20px;
	  margin: 25px;
	  text-align: center;
	  background-color: rgba(20,38,60,.8);;
	  border: solid 2px white;
	  border-radius: 20px;
	  box-shadow: 3px 3px 20px rgba(0,0,0,1);
}

.top-background__internet--famous img{
	  margin-top: -80px;
	  padding-bottom: 10px;
}

.top-background__internet--mainText{
	  font-family: "AgoraSansProItalic";
}

.top-background__internet--mainText--signature{
	  margin: 10px;
	  font-size: 22px;
	  font-weight: bold;
}

.top-background__internet--mainText--chair{
	   font-size: 12px;
	   color: #D8D8D8 ;
}

.top-background__internet--easyPay{
	  padding: 20px;
	  margin: 25px;
	  text-align: center;
	  background-color: rgba(255,255,255,.9);;
	  border: solid 2px white;
	  border-radius: 20px;
	  box-shadow: 3px 3px 10px rgba(0,0,0,.5);
}

.top-background__internet--easyPay a{
	  text-decoration: none;
	  color: #282828;
	  font-size: 18px;
	  font-weight: bold;
}

.top-background__internet--easyPay img{
	  margin-top: 15px;
}

.top-background--tv{
    background: url(../img/tv01.jpg) no-repeat;
    background-position: center;
    height: 1000px;
    position: relative;
    z-index: 10;
    box-shadow: 3px 3px 20px rgba(0,0,0,1);
}

.top-background--contacts{
    background: url(../img/contacts01.jpg) no-repeat;
    background-position: center;
    height: 1000px;
    position: relative;
    z-index: 10;
    box-shadow: 3px 3px 20px rgba(0,0,0,1);
}

.arrowUp{
	  display: block;
	  bottom: 40%;
	  right: 20px;
	  position: fixed;
    z-index: 21;
    font-size: 16px;
    color: rgba(255,255,255,0.4);
    width: 60px;
    height: 80px;
    background: url(../img/arrowUp.png) no-repeat;
	  text-align: center;
	  text-decoration: none;
}

.arrowUp span{
	  position: absolute;
	  bottom: 2px;
	  left: 4px;
}

/*.arrowUp.mPS2id-highlight-last{
	  display: block;
}

.arrowUp.mPS2id-highlight-first{
    display: none;
}*/

.index__news{
	  width: 100%;
	  background-color: #68b436;
	  color: white;
	  box-shadow: 3px 3px 20px rgba(0,0,0,1);
}

.index__news article {
	  padding-top: 40px;
	  text-align: justify;
}

.section__news--title{
	  font-size: 30px;
	  padding-top: 60px;
	  padding-bottom: 10px;
	  font-weight: bold;
	  text-align: left;
}

.index__promotion{
	  width: 100%;
	  background-color: #68b436;
	  color: white;
	  box-shadow: 3px 3px 20px rgba(0,0,0,1);
}

.index__promotion article {
	  padding-top: 40px;
	  text-align: justify;
}

.section__promotion--title{
	  font-size: 30px;
	  padding-top: 60px;
	  padding-bottom: 10px;
	  font-weight: bold;
	  text-align: left;
}

.section__promotion--txt a{
	  text-decoration: none;
	  color: white;
	  font-weight: bold;
}

.section__internet{
	  position: relative;
	  z-index: 10;
	  width: 100%;
	  background-color: #14263c;
	  color: white;
	  padding-bottom: 60px;
	  box-shadow: 3px 3px 20px rgba(0,0,0,1);
}

.section__internet--title{
	  display: block;
	  font-size: 30px;
	  margin: 40px 0px 15px 10px;
	  font-weight: bold;
	  text-align: left;
}

.internet__tariffTableMainRow td{
	  font-size: 20px;
	  font-weight: bold;
	  padding-top: 15px;
	  width: 200px;
	  height: 50px;
	  background-color: #e63c23;
	  color: #fef3e1;
	  text-align: center;
	  border-bottom: solid 3px #f9f3dd;
}

.internet__tariffTableRow td{
	  font-size: 16px;
	  font-weight: bold;
	  padding-top: 10px;
	  height: 40px;
	  background-color: #d9e39c;
	  color: #2b2a26;
	  text-align: center;
	  border-bottom: solid 3px #f9f3dd;
}

.internet__tariffTableCell11{
	  border-radius: 10px 0px 0px 0px;

}

.internet__tariffTableCell14{
	  border-radius: 0px 10px 0px 0px;
}

.internet__tariffTableRow th {
	  font-size: 18px;
	  font-weight: bold;
	  padding-top: 10px;
	  background-color: #39ac37;
	  color: #edefb0;
	  text-align: center;
	  border-bottom: solid 3px #f9f3dd;
}

.section__internet--paymentAccount{
	  height: 177px;
	  background-color: #d9e39c;
	  color: #2b2a26;
	  font-size: 14px;
	  padding: 15px;
	  border-radius: 10px 10px 0px 0px;
	  border-bottom: solid 3px #f9f3dd;
}

.section__internet--paymentAccountParagraph{
	  margin-top: 10px;
}

.section__internet--paymentAccount span{
	  font-size: 16px;
	  font-weight: bold;
}

.section__diagnostics--info {
    text-align: justify;
	  padding: 20px;
	  padding-top: 10px;
}

.section__diagnostics--info p {
    text-align: justify;
	  margin-top: 10px;
}

.section__diagnostics--info a {
    text-decoration: none;
	  color: white;
	  font-weight: bold;
}

.section__diagnostics--info a:hover {
	  color: #0565c9;
}

.section__diagnostics--infoLinks{
	  text-align: center;
	  font-size: 11px;
}

.section__diagnostics--infoLinks a{
	  display: block;
	  width: 200px;
	  margin: 0px auto 2px auto;
}

.section__diagnostics--infoLinks p{
	  margin: 0px auto 6px auto;
   	width: 200px;
}

.section__diagnostics--technology{
	  background: white;
	  color: #232122;
	  margin: 0px 25px 25px 25px;
	  border-radius: 10px 10px 0px 0px;
	  border-top: solid 3px #d9e39c;
	  border-bottom: solid 3px #68b436;
}

.section__diagnostics--technology p{
	  display: block;
	  height: 50px;
	  text-align: center;
	  padding-top: 16px;
	  font-size: 18px;
}

.section__diagnostics--technologyLongTXT{
	  margin-top: -10px;
	  margin-bottom: 10px;
}

.section__diagnostics--technology img{
	  display: block;
	  width: 270px;
	  height: 210px;
    margin-left: -10px;
}

.section__diagnostics--technology ul{
	  margin: 20px 0px;
	  text-align: justify;
	  font-size: 15px;
}

.section__createConnection--parallax{
	  padding-top: 140px;
	  padding-bottom: 140px;
}

.section__createConnection{
	  background-color: rgba(230,60,35,0.9);
	  padding: 40px;
	  color: #fef3e1;
	  text-align: justify;
	  border-radius: 20px 20px 0px 0px;
	  border-top: 3px solid #e56350;
	  border-bottom: 3px solid #a02c1b;
}

.section__createConnection--title{
	  font-size: 30px;
	  margin: 20px 10px 15px 10px;
	  font-weight: bold;
	  text-align: left;
}

.section__createConnection--video{
     margin: 20px 20px 0px 20px;
	   background-color: #68b436;
	   color: #edeca9;
	   border-radius: 10px 10px 0px 0px;
	   border-top: 3px solid #7dd443;
	   border-bottom: 3px solid #427024;
}

.section__createConnection--video figcaption{
	   margin: 20px 0px;
	   text-align: center;
	   font-size: 30px;
}

.section__createConnection--video iframe{
	    margin-left: -5px;
	    width: 252px;
	    height: 140px;
}

.internet__errorConnection{
	  width: 100%;
    background-color: #d9e39c;
	  color: #2b2a26;
	  box-shadow: 3px 3px 20px rgba(0,0,0,1);
    padding-top: 60px;
	  padding-bottom: 140px;
}

.internet__errorConnection article {
	  text-align: justify;
}

.section__errorConnection--title{
	  font-size: 30px;
	  padding-bottom: 10px;
	  font-weight: bold;
	  text-align: left;
}

.section__errorConnection--txt{

}

.section__tv--parallax{
    height: 1000px;
}

#map {
    height: 500px;
    width: 100%;
    box-shadow: 3px 3px 20px rgba(0,0,0,1);
}

.firstHeading{
    font-weight: bold;
}


footer{
		width: 100%;
	  max-width: 2000px;
  	height: 80px;
  	font-size: 11px;
  	color: #838a7f;
		background-color: #F2F2F2;
		padding-top: 22px;
}

.footer--center{
	   margin: 0px auto;
	   width: 700px;
}

.footer__description{
  	float: left;
}

.footer__timetable{
  	float: left;
  	margin-left: 140px;
}

.footer__phone{
  	float: left;
  	margin-left: 150px;
}
