@media (max-width: 960px) {

.header__menu--center{
	  width: 720px;
}

.header__menu{
	  margin-left: 10px;
	 
}

menu.header__menu > li{
	  margin-left: 15px;
	  font-size: 15px;
}

.header__menu--DownArrow{
	  margin-left: 3px;
	  font-size: 10px;
}

.header__phoneNumber{
	  margin-top: 15px;
	  margin-left: 30px;
}

.header__phoneNumber li{
    margin-top: 0px;
    font-size: 12px;
}

.top-background{
    margin-left: -310px;
}

.index__promotion{
	  height: 540px;
}

.index__promotion--center{
	  width: 700px;
}

.index__promotion article {
	  font-size: 13px;
	  margin-left: 40px;
	  margin-right: 40px;
	  width: 270px;
}

.section__promotion--title{
	  font-size: 24px;
}

.footer--center{
	   width: 550px;
}

.footer__timetable{
  	margin-left: 70px;
}

.footer__phone{
  	margin-left: 75px;
}

}