@media (max-width: 992px) {
	
.header__menu{
	  width: 450px;
	  margin-left: 5%;
}

menu.header__menu > li{
	  margin-left: 13px;
	  font-size: 14px;
}

.header__menu--DownArrow{
	  margin-left: 3px;
	  font-size: 10px;
}

.header__phoneNumber{
	  width: 100px;
}
	
.header__phoneNumber li{
    margin-top: 0px;
    font-size: 12px;
}

.top-background{
    margin-left: -300px;
}

.index__promotion{
	  height: 540px;
}

.index__promotion--center{
	  width: 700px;
}

.index__promotion article {
	  font-size: 13px;
	  margin-left: 40px;
	  margin-right: 40px;
	  width: 270px;
}

.section__promotion--title{
	  font-size: 24px;
}

.footer--center{
	   width: 550px;
}

.footer__timetable{
  	margin-left: 70px;
}

.footer__phone{
  	margin-left: 75px;
}

}