
body{
    margin: 0px auto;
    width: 960px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.header__Menu-Logo{
    display: block;
    position: absolute;
    margin-left: 13px;
    padding-top: 22px;
    width: 327px;
    height: 49px;
}

.header__phoneNumber{
    margin-top: 54px;
    float: left;
}

.header__phoneNumber li{
    float: left;
    margin-top: 20px;
    margin-left: 9px;
    font-size: 14px;
    padding-top: 1px;
}

.header__phoneNumber img{
    margin-right: 1px;
}

.header__menu{
    margin: 0px 0px 0px 360px;
    position: absolute;
    float: left;
}

.header__menu li{
    margin-left: 0px;
    width: 120px;
    height: 96px;
    float: left;
    border-radius: 0px;
}

.header__menu-promotions{
    background-color: #587fba;
}

.header__menu-promotions--icon{
    margin: 0px auto;
    width: 75px;
    height: 0px;
    background: url(../img/sprite.png) 0px 0px no-repeat;
}

.header__menu-promotions--icon:hover{
    background: url(../img/sprite.png) 0px -75px no-repeat;
}

.header__menu-internet{
    background-color: #e24634;
}

.header__menu-internet--icon{
    margin: 0px auto;
    width: 75px;
    height: 0px;
    background: url(../img/sprite.png) -75px 0px no-repeat;
}

.header__menu-internet--icon:hover{
    background: url(../img/sprite.png) -75px -75px no-repeat;
}

.header__menu-tv{
    background-color: #fbbc0c;
}

.header__menu-tv--icon{
    margin: 0px auto;
    width: 75px;
    height: 0px;
    background: url(../img/sprite.png) -150px 0px no-repeat;
}

.header__menu-tv--icon:hover{
    background: url(../img/sprite.png) -150px -75px no-repeat;
}

.header__menu-tv--text{
    margin-left: -10px;
}

.header__menu-contacts{
    background-color: #35a752;
}

.header__menu-contacts--icon{
    margin: 0px auto;
    width: 75px;
    height: 0px;
    background: url(../img/sprite.png) -225px 0px no-repeat;
}

.header__menu-contacts--icon:hover{
    background: url(../img/sprite.png) -225px -75px no-repeat;
}

.header__menu-cabinet{
    background-color: #a600e4;
}

.header__menu-cabinet--icon{
    margin-left: 22px;
    width: 120px;
    height: 0px;
    background: url(../img/sprite.png) -300px 0px no-repeat;
}

.header__menu-cabinet--icon:hover{
    background: url(../img/sprite.png) -300px -75px no-repeat;
}

.header__cabinet--text{
    margin-left: -46px;
    font-size: 12px;
}

.header__menu a{
    display: block;
    padding-top: 73px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.header__menu li{
    list-style-type: none;

}

.header__menu a:hover{
    text-shadow: 0px 1px 3px white;
}

.header__navigation{
    clear: both;
    display: block;
    margin-top: 96px;
    margin-left: 360px;
    position: absolute;
    width: 600px;
    height: 45px;
}

.header__navigation li{
    float: left;
    margin: 23px 25px 0px 20px;
}

.header__navigation a{
    color: white;
    text-decoration: none;
    width: auto;
}

.header__navigation a:hover{
    text-shadow: 0px 0px 1px white;
}

.header__navigation-index{
    background-color: #587fba;
}

.header__navigation-index li{
    margin-top: 4px;
}

.header__navigation-internet{
    background-color: #e24634;
}

.header__navigation-internet li{
    margin-top: 4px;
}

.header__navigation-tv{
    background-color: #fbbc0c;
}

.header__navigation-tv li{
    margin-top: 4px;
}

.header__navigation-contacts{
    background-color: #35a752;
}

.header__navigation-cabinet{
    background-color: #a600e4;
}

.section__content{
    clear: both;
    margin: 0px;
    padding-top: 80px;
    line-height: 1.5;
}

.section__index{
    clear: both;
    padding-top: 80px;
    line-height: 1.5;
    padding-bottom: 790px;
}


.section__holiday{
    display: block;
    margin-left: 60px;
    width: 900px;
    height: 340px;
    border: 1px solid #585858;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.section__content--checkIcon{
    display: block;
    position: absolute;
    width: 62px;
    height: 62px;
    background: url(../img/sprite-index.png) 0px 0px no-repeat;
    margin: -10px 0px 0px -32px;
}

.section__holiday--mainImage{
    float: left;
    margin: 20px 20px 0px 20px;
}

.section__holiday--title{
    display: block;
    width: 900px;
    height: 40px;
    font-size: 22px;
    text-align: center;
    padding-top: 5px;
    background-color: #585858;
    color: white;
    border-radius: 4px 4px 0px 0px;
}

.section__holiday--txt{
    padding: 30px 30px 0px 0px;
    font-size: 14px;
    text-align: justify;
}

.section__promotion{
    float: left;
    margin-top: 30px;
    margin-left: 60px;
    width: 418px;
    height: 340px;
    border: 1px solid #585858;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.section__content--listIcon{
    position: absolute;
    width: 62px;
    height: 62px;
    background: url(../img/sprite-index.png) 0px -62px no-repeat;
    margin: -10px 0px 0px -32px;
}

.section__promotion--title{
    display: block;
    width: 418px;
    height: 40px;
    font-size: 22px;
    text-align: center;
    padding-top: 5px;
    background-color: #585858;
    color: white;
    border-radius: 4px 4px 0px 0px;
}

.section__promotion--txt{
    padding: 20px;
    font-size: 14px;
    text-align: justify;
}

.section__promotion--txt a{
    color: #585858;
    text-decoration: none;
    font-weight: bold;
}

.section__promotion--takeUp{
    display: block;
    text-align: right;
}

.section__content h1{
    font-size: 25px;
    padding-left: 20px;
    padding-top: 2px;
    margin-bottom:  30px;
}

.section__content h2{
    font-size: 25px;
    padding-left: 20px;
    padding-top: 2px;
    margin: 40px 0px;
    background-color: #585858;
    color: white;
    height: 30px;
    width: 800px;
    border-radius: 10px;
}

.section__content h2 > a{
    display: block;
    text-decoration: none;
    color: white;
    font-weight: normal;
    margin-top: -5px;
}

.section__content--paragraph{
    clear: both;
    padding-top: 20px;
}

.section__content--advantages{
    margin-left: 100px;
}

.section__content--advantages li{
    margin-top: 10px;
}

.section__content--takeUp{
    display: block;
    font-size: 15px;
    margin: 30px 0px 100px 0px;
    text-align: right;
}

.section__content{
    display: block;
    margin: 0px auto;
    margin-bottom: 70px;
}

.section__content--listIPTV{
    margin-left: 240px;
}

.section__content--listIPTV--download{
    float: left;
    display: block;
    padding-top: 15px;
    margin: 0px 50px 10px 0px;
    width: 205px;
    height: 35px;
    background-color: #585858;
    text-align: center;
}

.section__content--listIPTV--download:hover{
    background-color: #fbbc0c;
}

.section__content--listIPTV--download a{
    color: white;
}

.section__content--androidIPTV{
    display: block;
    margin: 0px auto;
    width: 300px;
    height: 300px;
}

.section__content--contacts{
    margin-left: 480px;
}

.section__content--contacts--image{
    float: left;
    padding-left: 120px;
}

.section__content--contacts--paragraph{
    padding-top: 20px;
}

.section__content--cabinet--link{
    padding-top: 15px;
    margin: -5px auto;
    width: 500px;
    height: 35px;
    background-color: #585858;
    text-align: center;
    border-radius: 3px;
}

.section__content--cabinet--link a{
    color: white;
    font-weight: normal;
}

.section__content--cabinet--link:hover{
    background-color: #a600e4;
    -webkit-transition: .2s ease-out;
}

.section__content--cabinet--paragraph{
    margin-top: 40px;
}

.section__content--cabinet{
    margin: -10px 0px 40px 100px;
    font-size: 16px;
    text-align: justify;
    list-style-type: disc;
}

.section__content--cabinet li{
    margin-top: 10px;
}

footer{
  width: 100%;
  height: 70px;
  font-size: 11px;
  color: #6c6c6c;
  margin-bottom: 15px;
}

footer img{
  margin-bottom: 10px;
}

.footer__line{
  width: 100%;
  height: 1px;
}

.footer__description{
  float: left;
  margin-left: 120px;
}

.footer__timetable{
  float: left;
  margin-left: 140px;
}

.footer__phone{
  float: left;
  margin-left: 150px;
}
