@media (max-width: 1200px) {

.header__menu--center{
	  width: 860px;
}

.header__menu{
	  margin-left: 30px;
	 
}

menu.header__menu > li{
	  margin-left: 25px;
}

.header__phoneNumber{
	  margin-left: 67px;
}

.top-background{
    margin-left: -310px;
}

}