@media (max-width: 1200px) {

.internet__tariffTableMainRow td{
	  width: 233px;
}
	
.section__diagnostics--technology img{
    margin: 0px auto;
}

.section__createConnection--video iframe{
	display: block;
    margin: 0px auto;
	width: 350px;
	height: 195px;
}

}
